body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #2C2C2C;
   background-image: none;
   border: 1px solid #242424;
   border-radius: 0px;
   color: #ADAFAE;
   --background-color: rgba(44,44,44,1.00);
   --border-color: #242424;
   --border-width: 1px;
   --color: #ADAFAE;
}
.wb-theme-content
{
   background-color: #060606;
   background-image: none;
   border: 1px solid #282828;
   border-radius: 0px;
   color: #ADAFAE;
   --background-color: rgba(6,6,6,1.00);
   --border-color: #282828;
   --border-width: 1px;
   --color: #ADAFAE;
   --icon-color: #2A9FD6;
   --colorize: invert(50%) sepia(69%) saturate(637%) hue-rotate(155deg) brightness(97%) contrast(77%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #2A9FD6;
   background-image: none;
   border: 1px solid #2A9FD6;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(42,159,214,1.00);
   --border-color: #2A9FD6;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #2487B6;
   background-image: none;
   border: 1px solid #227FAB;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(36,135,182,1.00);
   --border-color: #227FAB;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #227FAB;
   background-image: none;
   border: 1px solid #2077A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(34,127,171,1.00);
   --border-color: #2077A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #2E2E2E;
   background-image: none;
   border: 1px solid #484848;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(46,46,46,1.00);
   --border-color: #484848;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #2A9FD6;
   --colorize: invert(50%) sepia(98%) saturate(385%) hue-rotate(154deg) brightness(90%) contrast(90%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #2A9FD6;
   background-image: none;
   border: 1px solid #2A9FD6;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(42,159,214,1.00);
   --border-color: #2A9FD6;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #2487B6;
   background-image: none;
   border: 1px solid #227FAB;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(36,135,182,1.00);
   --border-color: #227FAB;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #227FAB;
   background-image: none;
   border: 1px solid #2077A1;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(34,127,171,1.00);
   --border-color: #2077A1;
   --border-width: 1px;
   --color: #FFFFFF;
}
#wb_headerLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex: 0 0 auto;
}
#headerLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   order: 1;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#headerLayoutGrid > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 50%;
   max-width: 50%;
   order: 2;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 768px)
{
#headerLayoutGrid > .col-1, #headerLayoutGrid > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_headerHeading
{
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#headerHeading
{
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 43px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#headerHeading
{
   height: 100%;
   margin: 0;
   width: 100%;
   background: transparent !important;
   border: none !important;
}
#wb_headerOverlayMenu
{
   position: relative;
}
#wb_headerOverlayMenu
{
   margin: 0;
}
#headerOverlayMenu
{
}
#headerOverlayMenu
{
   display: block;
   width: 46px;
   height: 46px;
   position: relative;
   overflow: hidden;
}
#headerOverlayMenu .line
{
   width: 24px;
   height: 4px;
   background: var(--color);
   display: block;
   margin: 4px auto;
   transition: all 0.3s ease-in-out;
}
#headerOverlayMenu .line:first-child
{
   margin-top: 11px;
}
#headerOverlayMenu-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#headerOverlayMenu-close:before, #headerOverlayMenu-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#headerOverlayMenu-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#headerOverlayMenu-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#headerOverlayMenu-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#headerOverlayMenu-close:after
{
   bottom: 50%;
   opacity: 0;
}
#headerOverlayMenu-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#headerOverlayMenu-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#headerOverlayMenu-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(42,159,214,0.87);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
#headerOverlayMenu-overlay ul
{
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   text-decoration: none;
   text-transform: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
.headerOverlayMenu
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 100%;
   max-width: 480px;
}
.headerOverlayMenu a
{
   text-decoration: none;
}
.headerOverlayMenu ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.headerOverlayMenu li
{
   position: relative;
}
.headerOverlayMenu li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   outline: none;
}
.headerOverlayMenu li a:hover
{
}
#headerOverlayMenu-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#headerOverlayMenu-overlay.show
{
   visibility: visible;
   width: 100%;
   transition: width 400ms;
}
#headerOverlayMenu-overlay .headerOverlayMenu
{
   opacity: 0;
   transition: opacity 0.3s 400ms;
}
#headerOverlayMenu-overlay.show .headerOverlayMenu
{
   opacity: 1;
   transition-delay: 400ms;
}
#headerOverlayMenu-overlay.hide .headerOverlayMenu
{
   transition-delay: 0s;
}
#headerOverlayMenu-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#headerOverlayMenu-social
{
   padding: 40px 0 0 0;
}
#headerOverlayMenu-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #2A9FD6;
   display: inline-block;
   font-size: 32px;
   margin: 0 .5em;
   padding: 12px;
   transition: all .2s linear 0s;
   width: 32px;
}
#headerOverlayMenu-social .social-icon:hover 
{
   background-color: #FFFFFF;
   color: #2487B6;
}
.headerOverlayMenu-effect
{
   transition: all 500ms linear;
}
#wb_homeLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('../images/illustration-of-a-woman-leaning-against-a-wall-kawacy-style-short-bob-with-bangs-dark-hair-neon--188103648.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#homeLayoutGrid
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#homeLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 50px;
   padding-left: 50px;
   position: relative;
}
#homeLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#homeLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#homeLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#homeLayoutGrid-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.69;
}
#wb_homeCarousel
{
   background: transparent !important;
   border: none !important;
   box-sizing: border-box;
   margin: 0;
}
#wb_homeCarousel
{
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
}
#homeCarousel
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#homeCarousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#homeCarousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#homeCarousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   transition: opacity 500ms ease-in-out;
   height: 100%;
   text-align: center;
}
#homeCarousel .carousel-item-inner
{
   padding: 0;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#homeCarousel .carousel-inner > .carousel-item > img, #homeCarousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#homeCarousel .carousel-inner > .active, #homeCarousel .carousel-inner > .carousel-item-next, #homeCarousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#homeCarousel .carousel-inner > .active
{
   animation: homeCarousel-animation-show 500ms ease 0ms both;
}
#homeCarousel .carousel-inner > .carousel-item-next, #homeCarousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#homeCarousel .carousel-inner > .carousel-item-next.carousel-item-start, #homeCarousel .carousel-inner > .carousel-item-prev.carousel-item-end
{
   animation: homeCarousel-animation-show 500ms ease 0ms both;
}
#homeCarousel .carousel-inner > .active.carousel-item-start, #homeCarousel .carousel-inner > .active.carousel-item-end
{
   animation: homeCarousel-animation-hide 500ms ease both;
}
#homeCarousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -54px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#homeCarousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 12px 12px 12px 12px;
   width: 11px;
   height: 11px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: var(--background-color);
   border: 1px solid var(--border-color);
   box-shadow: inset 0 0 0 0 var(--border-color);
   transition: box-shadow 0.3s ease;
}
#homeCarousel .carousel-indicators .active
{
   box-shadow: inset 0 0 0 6px var(--border-color);
}
#homeCarousel .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 15%;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
   cursor: pointer;
   z-index: 7776;
}
#homeCarousel .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#homeCarousel .carousel-control .carousel-control-prev-icon, #homeCarousel .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 42px;
   height: 42px;
   z-index: 5;
}
#homeCarousel .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#homeCarousel .frame
{
   width: 870px;
   display: inline-block;
   float: left;
   height: 291px;
}
#homeCarousel .carousel-control-next, #homeCarousel .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#homeCarousel .carousel-control-next-icon, #homeCarousel .carousel-control-prev-icon
{
   display: inline-block;
   width: 42px;
   height: 42px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#homeCarousel .carousel-control-next:hover, #homeCarousel .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#homeCarousel .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23282828%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M50%2076%20C48%2079%2c%2047%2081%2c%2047%2084%20L47%2084%20C47%2087%2c%2048%2089%2c%2050%2092%20L103%20144%20C105%20146%2c%20108%20147%2c%20110%20147%20C113%20147%2c%20116%20146%2c%20118%20144%20C120%20142%2c%20121%20139%2c%20121%20137%20C121%20134%2c%20120%20131%2c%20118%20129%20L73%2084%20L118%2039%20C120%2037%2c%20121%2034%2c%20121%2032%20C121%2029%2c%20120%2026%2c%20118%2024%20C116%2022%2c%20113%2021%2c%20110%2021%20C108%2021%2c%20105%2022%2c%20103%2024%20L50%2076Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#homeCarousel .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23282828%22%20viewBox%3d%220%200%20168%20168%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M119%2076%20C120%2079%2c%20121%2081%2c%20121%2084%20L121%2084%20C121%2087%2c%20120%2089%2c%20119%2092%20L66%20144%20C64%20146%2c%2061%20147%2c%2058%20147%20C56%20147%2c%2053%20146%2c%2051%20144%20C49%20142%2c%2048%20139%2c%2048%20137%20C48%20134%2c%2049%20131%2c%2051%20129%20L96%2084%20L51%2039%20C49%2037%2c%2048%2034%2c%2048%2032%20C48%2029%2c%2049%2026%2c%2051%2024%20C53%2022%2c%2056%2021%2c%2058%2021%20C61%2021%2c%2064%2022%2c%2066%2024%20L119%2076Z%20%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
@keyframes homeCarousel-animation-show
{
   0%   { transform: translateX(100%); }
   100% { transform: translateX(0); }
}
@keyframes homeCarousel-animation-hide
{
   0%   { transform: translateX(0); }
   100% { transform: translateX(-100%); }
}
#wb_homeText5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-left-in 1000ms linear 300ms 1 normal both;
}
#wb_homeText5
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_homeText5 p, #wb_homeText5 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_homeText6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-right-in 1000ms linear 1000ms 1 normal both;
}
#wb_homeText6
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   line-height: 36px;
}
#wb_homeText6 p, #wb_homeText6 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#homeButton3
{
   box-sizing: border-box;
   line-height: 28px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
   animation: vanish-in 1000ms linear 2000ms 1 normal both;
}
#homeButton3:focus
{
   outline: 0;
}
#wb_homeText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-left-in 1000ms linear 300ms 1 normal both;
}
#wb_homeText1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_homeText1 p, #wb_homeText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_homeText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-right-in 1000ms linear 1000ms 1 normal both;
}
#wb_homeText2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   line-height: 36px;
}
#wb_homeText2 p, #wb_homeText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#homeButton1
{
   box-sizing: border-box;
   line-height: 28px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
   animation: slide-down-in 1000ms linear 2000ms 1 normal both;
}
#homeButton1:focus
{
   outline: 0;
}
#wb_homeText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-left-in 1000ms linear 300ms 1 normal both;
}
#wb_homeText3
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_homeText3 p, #wb_homeText3 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_homeText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: slide-right-in 1000ms linear 1000ms 1 normal both;
}
#wb_homeText4
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   line-height: 36px;
}
#wb_homeText4 p, #wb_homeText4 ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#homeButton2
{
   box-sizing: border-box;
   line-height: 28px;
   text-decoration: none;
   vertical-align: top;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
   animation: slide-down-in 1000ms linear 2000ms 1 normal both;
}
#homeButton2:focus
{
   outline: 0;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText div
{
   text-align: center;
}
#wb_footerText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footerHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 25px 0 ;
   padding: 0;
   text-align: center;
}
#footerHeading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_footerHeading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 50px 0 25px 0 ;
   padding: 0;
   text-align: center;
}
#footerHeading2
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_footerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon1
{
   height: 17px;
   width: 16px;
}
#footerIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon1:hover #footerIcon1 i
{
   color: #FFFFFF;
}
#wb_footerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon2
{
   height: 17px;
   width: 16px;
}
#footerIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon2:hover #footerIcon2 i
{
   color: #FFFFFF;
}
#wb_footerIcon3
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon3
{
   height: 17px;
   width: 16px;
}
#footerIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon3:hover #footerIcon3 i
{
   color: #FFFFFF;
}
#wb_footerIcon4
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon4
{
   height: 17px;
   width: 16px;
}
#footerIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon4:hover #footerIcon4 i
{
   color: #FFFFFF;
}
#wb_footerCopyrights 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 50px 0 0 0 ;
   text-align: center;
}
#wb_footerCopyrights div
{
   text-align: center;
}
#wb_footerCopyrights
{
   display: block;
   margin: 50px 0 0 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 1px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #DEE2E6;
   border-right-color: #DEE2E6;
   border-bottom-color: #DEE2E6;
   border-left-color: #DEE2E6;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .col-1
{
   flex: 0 0 auto;
}
#footer > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#footer > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
