body
{
   border-width: 0 !important;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #0B3E6F;
   background-image: none;
   border: 1px solid #0B3E6F;
   border-radius: 0px;
   color: #F6F6F6;
   --background-color: rgba(11,62,111,1.00);
   --border-color: #0B3E6F;
   --border-width: 1px;
   --color: #F6F6F6;
}
.wb-theme-content
{
   background-color: #111111;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   color: #D9D9D9;
   --background-color: rgba(17,17,17,1.00);
   --border-color: #000000;
   --border-width: 1px;
   --color: #D9D9D9;
   --icon-color: #9CCDFC;
   --colorize: invert(73%) sepia(27%) saturate(599%) hue-rotate(178deg) brightness(103%) contrast(98%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #333333;
   background-image: none;
   border: 1px solid #333333;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(51,51,51,1.00);
   --border-color: #333333;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #00498F;
   background-image: none;
   border: 1px solid #222222;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(0,73,143,1.00);
   --border-color: #222222;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #292929;
   background-image: none;
   border: 1px solid #096AC8;
   border-radius: 0px;
   color: #75ABFF;
   --background-color: rgba(41,41,41,1.00);
   --border-color: #096AC8;
   --border-width: 1px;
   --color: #75ABFF;
}
#wb_headerLayoutGrid2
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #333333;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#headerLayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#headerLayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   float: left;
}
#headerLayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#headerLayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 75%;
   text-align: left;
}
#headerLayoutGrid2:before,
#headerLayoutGrid2:after,
#headerLayoutGrid2 .row:before,
#headerLayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#headerLayoutGrid2:after,
#headerLayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#headerLayoutGrid2 > .row > .col-1, #headerLayoutGrid2 > .row > .col-2
{
   float: none;
   width: 100%;
}
}
.headerMenu .nav
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   color: #FF9DFF;
   text-align: left;
   text-transform: uppercase;
}
#headerMenu, .headerMenu .nav, .headerMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.headerMenu .nav:before,
.headerMenu .nav:after 
{
   content: " ";
   display: table;
}
.headerMenu .nav:after 
{
   clear: both;
}
.headerMenu .nav a 
{
   text-decoration: none;
}
.headerMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.headerMenu .nav ul ul
{
   margin-bottom: 0;
}
.headerMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.headerMenu .container:before,
.headerMenu .container:after 
{
   content: " ";
   display: table;
}
.headerMenu .container:after 
{
   clear: both;
}
.headerMenu .collapse 
{
   display: none;
}
.headerMenu .collapse.show 
{
   display: block;
}
.headerMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.headerMenu .caret, .headerMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.headerMenu .dropdown 
{
   position: relative;
}
.headerMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.headerMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 16px;
   background-color: #000000;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.headerMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FF9DFF;
   text-transform: none;
   white-space: nowrap;
}
.headerMenu .dropdown-menu > li > a:hover,
.headerMenu .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #F700C5;
   background-color: #000000;
   background-image: none;
}
.headerMenu .dropdown-menu > li > a.active,
.headerMenu .dropdown-menu > li > a.active:hover,
.headerMenu .dropdown-menu > li > a.active:focus
{
   color: #F700C5;
   background-color: #000000;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.headerMenu .show > .dropdown-menu
{
   display: block;
}
.headerMenu .show > a
{
   outline: 0;
}
.headerMenu .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.headerMenu .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.headerMenu .nav > li 
{
   position: relative;
   display: block;
}
.headerMenu .nav > li > a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.headerMenu .nav .show > a,
.headerMenu .nav .show > a:hover,
.headerMenu .nav .show > a:focus
{
    border-color: #343A40;
}
.headerMenu .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.headerMenu .nav .caret
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.headerMenu
{
   position: relative;
}
.headerMenu:before,
.headerMenu:after
{
   content: " ";
   display: table;
}
.headerMenu:after
{
   clear: both;
}
.headerMenu .navbar-header:before,
.headerMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.headerMenu .navbar-header:after
{
   clear: both;
}
.headerMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.headerMenu-navbar-collapse:before,
.headerMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.headerMenu-navbar-collapse:after
{
   clear: both;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 11px 10px 10px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.headerMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.headerMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.headerMenu .navbar-nav
{
   margin: 6px -15px;
}
.headerMenu .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.headerMenu .navbar-nav > li > a
{
   color: #FF9DFF;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   background-color: #000000;
   background-image: none;
   color: #F700C5;
   text-decoration: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #F700C5;
   background-color: #000000;
   background-image: none;
}
.headerMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.headerMenu .navbar-toggle:hover,
.headerMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.headerMenu .navbar-toggle .icon-bar
{
   background-color: #FFFFFF;
}
.headerMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret,
.headerMenu .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #F700C5;
   border-bottom-color: #F700C5;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: #000000;
   background-image: none;
   color: #F700C5;
}
.headerMenu .navbar-nav > .show > a .caret,
.headerMenu .navbar-nav > .show > a:hover .caret,
.headerMenu .navbar-nav > .show > a:focus .caret
{
   border-top-color: #F700C5;
   border-bottom-color: #F700C5;
}
.headerMenu .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FF9DFF;
   border-bottom-color: #FF9DFF;
}
.headerMenu .navbar-link
{
   color: #FF9DFF;
}
.headerMenu .navbar-link:hover
{
   color: #F700C5;
}
.headerMenu .navbar-header
{
   color: #FFFFFF;
}
@media (min-width: 640px) 
{
.headerMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.headerMenu .navbar-header
{
   float: left;
}
.headerMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.headerMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.headerMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.headerMenu .navbar-toggle
{
   display: none;
}
.headerMenu .navbar-nav
{
   float: right;
   margin: 0;
}
.headerMenu .navbar-nav > li
{
   float: left;
}
.headerMenu .container > .navbar-header,
.headerMenu .container > .headerMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret,
.headerMenu .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
}
@media (max-width: 640px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.headerMenu .navbar-nav
{
   margin: 0;
   background-color: #000000;
   background-image: none;
}
.headerMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a,
.headerMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.headerMenu .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 640px) 
{
.headerMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.headerMenu .navbar-nav > li > a
{
   color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a:hover,
.headerMenu .navbar-nav > li > a:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.headerMenu .navbar-nav > li > a.active,
.headerMenu .navbar-nav > li > a.active:hover,
.headerMenu .navbar-nav > li > a.active:focus
{
   color: #FFFFFF;
   background-color: #343A40;
   background-image: none;
}
.headerMenu .navbar-nav > .show > a,
.headerMenu .navbar-nav > .show > a:hover,
.headerMenu .navbar-nav > .show > a:focus
{
   background-color: #343A40;
   background-image: none;
   color: #FFFFFF;
}
.headerMenu .navbar-nav > .dropdown > a:hover .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > li > a.active > .caret,
.headerMenu .navbar-nav > li > a.active:hover > .caret,
.headerMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-nav > .show > a .caret,
.headerMenu .navbar-nav > .show > a:hover .caret,
.headerMenu .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.headerMenu .navbar-link
{
   color: #FFFFFF;
}
.headerMenu .navbar-link:hover 
{
   color: #fff;
}
}
#headerMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_headerMenu
{
   z-index: 1111 !important;
}
#wb_headerHeading
{
   -webkit-background-clip: text;
   background-clip: text;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#headerHeading
{
   color: transparent;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_homeLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('illustration-of-a-woman-leaning-against-a-wall-kawacy-style-short-bob-with-bangs-dark-hair-neon--188103648.jpeg');
   background-repeat: no-repeat;
   background-position: center top;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#homeLayoutGrid
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 188px 0 150px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#homeLayoutGrid > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 100px;
   padding-left: 100px;
   position: relative;
}
#homeLayoutGrid > .col-1
{
   flex: 0 0 auto;
}
#homeLayoutGrid > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#homeLayoutGrid > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_homeText 
{
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_homeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 29px;
   line-height: 33px;
}
#wb_homeText p, #wb_homeText ul
{
   margin: 0;
   padding: 0;
}
#wb_homeText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footerTop
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footerTop
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footerTop > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footerTop > .row > .col-1, #footerTop > .row > .col-2, #footerTop > .row > .col-3, #footerTop > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footerTop > .row > .col-1, #footerTop > .row > .col-2, #footerTop > .row > .col-3, #footerTop > .row > .col-4
{
   float: left;
}
#footerTop > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#footerTop > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#footerTop > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#footerTop > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#footerTop:before,
#footerTop:after,
#footerTop .row:before,
#footerTop .row:after
{
   display: table;
   content: " ";
}
#footerTop:after,
#footerTop .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footerTop > .row > .col-1, #footerTop > .row > .col-2, #footerTop > .row > .col-3, #footerTop > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_footerCard2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   text-align: left;
}
#footerCard2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#footerCard2-card-item0
{
   box-sizing: border-box;
   margin: 0 0 6px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#footerCard2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard2-card-item1
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item1:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard2-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard2-card-item2
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item2:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard2-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard2-card-item3
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item3:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard2-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#wb_footerCard3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   text-align: left;
}
#footerCard3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#footerCard3-card-item0
{
   box-sizing: border-box;
   margin: 0 0 6px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#footerCard3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard3-card-item1
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item1:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item1 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard3-card-item1 i
{
   color: #FFFFFF;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#footerCard3-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard3-card-item2
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item2:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item2 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard3-card-item2 i
{
   color: #FFFFFF;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#footerCard3-card-item3
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard3-card-item3
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item3:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item3 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard3-card-item3 i
{
   color: #FFFFFF;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#footerCard3-card-item4
{
   box-sizing: border-box;
   margin: 0;
   padding: 0 0 16px 0;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
}
#footerCard3-card-item4
{
   color: #6C757D;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item4:hover
{
   color: #1E90FF;
   transition: color 500ms linear 0ms;
}
#footerCard3-card-item4 a
{
   color: inherit;
   text-decoration: none;
}
#footerCard3-card-item4 i
{
   color: #FFFFFF;
   margin-right: 8px;
   text-align: center;
   vertical-align: top;
   font-size: 13px;
   width: 13px;
}
#wb_footerCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   text-align: left;
}
#footerCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#footerCard1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 6px 0 ;
   padding: 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#footerCard1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 16px 0 0 0;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 16.9px;
}
#wb_footerText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0 0 16px 0 ;
   text-align: left;
}
#wb_footerText1 div
{
   text-align: left;
}
#wb_footerText1
{
   display: block;
   margin: 0 0 16px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_footerIcon1
{
   background-color: #55ACEE;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon1
{
   height: 17px;
   width: 16px;
}
#footerIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon1:hover #footerIcon1 i
{
   color: #FFFFFF;
}
#wb_footerIcon2
{
   background-color: #AC2BAC;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon2
{
   height: 17px;
   width: 16px;
}
#footerIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon2:hover #footerIcon2 i
{
   color: #FFFFFF;
}
#wb_footerIcon3
{
   background-color: #3B5998;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon3
{
   height: 17px;
   width: 16px;
}
#footerIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon3:hover #footerIcon3 i
{
   color: #FFFFFF;
}
#wb_footerIcon4
{
   background-color: #0082CA;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon4
{
   height: 17px;
   width: 16px;
}
#footerIcon4 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon4:hover #footerIcon4 i
{
   color: #FFFFFF;
}
#wb_footerIcon5
{
   background-color: #DD4B39;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon5 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon5
{
   height: 17px;
   width: 16px;
}
#footerIcon5 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon5:hover #footerIcon5 i
{
   color: #FFFFFF;
}
#wb_footerIcon6
{
   background-color: #332D2D;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 8px 8px 8px 8px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_footerIcon6 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#footerIcon6
{
   height: 17px;
   width: 16px;
}
#footerIcon6 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 17px;
   vertical-align: middle;
   width: 15px;
}
#wb_footerIcon6:hover #footerIcon6 i
{
   color: #FFFFFF;
}
#footerLine
{
   border-color: #E9E9E9;
   border-color: rgba(233,233,233,0.00);
   border-style: solid;
   border-bottom-width: 3px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_footerBottom
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #323232;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footerBottom
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 25px 0 25px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footerBottom > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footerBottom > .col-1
{
   flex: 0 0 auto;
}
#footerBottom > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#footerBottom > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_footerCopyright 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerCopyright div
{
   text-align: center;
}
#wb_footerCopyright
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #424242;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#footer > .row
{
   margin-right: 0;
   margin-left: 0;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
